.footer {
  background: #000;
  color: #fff;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-texto{
  font-size: 1.5rem;
  line-height: 1.33;
  color: #a3a3a3;
}

.footer-contato li{
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #fff;
  margin-bottom: 30px;
}

.footer-contato li a{
  color: white;
  text-decoration: none;
}

.footer-copy {
  font-size: 1.125rem;
  grid-column: 1/-1;
  color: #a3a3a3;
}

@media (max-width:800px){
  .footer-container{
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-contato li{
    font-size: 1.5rem;
  }
}